* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-grey: #707070;
  --clr-bunker: #131921;
  --clr-ebony-clay: #232f3e;
  --clr-orange: #FF9900;
  --clr-orange-dark: #cc8111;
}