@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*,
*:after,
*:before {
  box-sizing: border-box;
}

main {
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #313942;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  text-align: center;
}

.h1Box {
  animation: MoveUpDown 4s linear infinite;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 100px;
  }
}

@media(max-width:786px) {
  main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}