nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 4px;
    background-color: #131921;
}

.navBrand {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.navBrand img {
    max-width: 125px;
    height: auto;
}

.navBrand h1 {
    color: azure;
    font-family: "Lalezar";
    font-size: 2.5em;
}

.navLinks {
    background-color: azure;
    grid-column: 1 / span 3;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.navLinks li {
    margin: 0 15px;
}

.navLinks li a {
    text-decoration: none;
    color: black;
}

.navLinks li a:hover {
    color: #250d42;
}

.navSearch {
    padding: 10px;
    border-radius: 6px;
    min-width: 50%;
}

.navSearch:hover {
    outline: 1px solid #250d42;
}

.navConnect {
    width: 150px;
    height: 40px;
    margin: 0 auto;

    background-color: azure;
    color: black;

    border: none;
    border-radius: 4px;

    font-family: "Lalezar";
    font-size: 1.25em;
    font-weight: 600;

    cursor: pointer;
    transition: all 250ms ease;
}

.navConnect:hover {
    color: azure;
    background-color: #250d42;
    border: 1px solid azure;
}

.acccBox {
    margin: 10px auto;
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
}

.logout {
    width: 22%;
    background-color: red;
    color: azure;
}

.logout:hover {
    border: 2px solid red;
    color: red;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    nav {
        grid-template-columns: repeat(2, 1fr);
    }

    .navLinks {
        display: none;
    }

    .navSearch {
        display: none;
    }

    .acccBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 20px;
    }

    .logout {
        width: 30vw;
    }

    .navConnect {
        width: 30vw;
    }
}